@model WebAppMVC.Models.ResponseLogin;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h1>@Model.Email</h1>
    <h1>@Model.FullName</h1>
    <h1>@Model.Role</h1>

    @if(Model.Email != null){
        <a asp-controller="Account" asp-action="Change_Password" asp-route-email="@Model.Email">Change Password</a>
    }

</div>
