@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h2>@HttpContextAccessor.HttpContext.Session.GetString("Email")</h2>

    <h2>@HttpContextAccessor.HttpContext.Session.GetString("FullName")</h2>

    <h2>@HttpContextAccessor.HttpContext.Session.GetString("Role")</h2>

    @if (HttpContextAccessor.HttpContext.Session.GetString("Email") != null){
        <a asp-action="Change_Password" asp-controller="Account">Change Password</a>
    }

</div>
