
<h1>Forgot Password Form</h1>

<h4>Change your password!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> Enter your email!</label>
                <input name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Enter your Full Name to verify</label>
                <input name="fullname" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label"> Create new password</label>
                <input type="password" name="newpassword" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create New Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

